<table id="tabResultUser" class="tableau">
    <thead>
    <tr>
        <th>Name</th>
        <th>Tweet</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    {% if tabResult is not empty %}
        {% for user in tabResult %}
            <tr>
                <td>{{ user.name }}</td>
                <td class="width20-text padding-10">{{ user.info }}</td>
                <td>
                    <a href="https://www.twitter.com/{{ user.name }}" target="_blank">
                        <div class="see-profil-btn btn green-btn margin-10" data-id={{ user.id }}>See profile</div>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan=3>No users added</td>
        </tr>
    {% endif %}
    </tbody>
</table>